#introContainer {
  padding-inline: 20vw 19vw;
}

.title {
  width: max-content;
  background: linear-gradient(
    90deg,
    white 0%,
    orange 30%,
    #db6c79 40%,
    lightblue 60%,
    lightgreen 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &:first-child {
    font-size: 2.5rem;
  }
}

.paragraph,
.title {
  caret-shape: underscore;
  animation: rainbow 6s linear infinite;
}

@keyframes rainbow {
  0% {
    caret-color: red;
  }
  20% {
    caret-color: orange;
  }
  40% {
    caret-color: yellow;
  }
  60% {
    caret-color: green;
  }
  80% {
    caret-color: blue;
  }
  100% {
    caret-color: purple;
  }
}
