#root {
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  text-align: center;
  padding: 1rem;
  background-color: rgb(75, 75, 75);

  & a {
    text-decoration: none;
  }

  & .appTitle {
    width: 20vw;
    color: inherit;
  }

  & #routesContainer {
    flex: 1;
    display: flex;
    justify-content: space-around;

    & a {
      color: inherit;
      border-radius: 10% / 20%;
      padding: 0.5em 1em;
      transition: all 0.3s ease-in-out;
    }

    & a:hover {
      background-color: lightgray;
      color: black;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

main {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

footer {
  display: flex;
  height: 5rem;
  padding: 1rem;
  background: #242424;
  cursor: pointer;
  outline: 0px solid lightgray;
  transition: all 0.1s ease-in-out;

  & > span {
    color: #242424;
    background: linear-gradient(
      90deg,
      #242424 0%,
      #242424 25%,
      lightgray 40%,
      lightgray 60%,
      #242424 75%,
      #242424 100%
    );
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0% 0%;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    outline: 2px solid lightgray;
    & > span {
      animation: gradientSlide 5s linear infinite;
    }
  }
}

@keyframes gradientSlide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}
