#root {
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  text-align: center;
  padding: 1rem;
  background-color: rgb(75, 75, 75);
  transition: outline 0.1s ease-in-out;

  &:hover {
    outline: 2px solid lightgray;
  }

  & a {
    text-decoration: none;
  }

  & .appTitle {
    width: 20vw;
    color: white;
    background: linear-gradient(
      90deg,
      white 0%,
      white 25%,
      orange 40%,
      #db6c79 55%,
      lightblue 70%,
      lightgreen 85%,
      white 100%
    );
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0% 0%;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
      animation: titleGradientSlide 5s linear infinite;
    }
  }

  & #routesContainer {
    flex: 1;
    display: flex;
    justify-content: space-around;

    & a {
      color: inherit;
      border-radius: 10% / 20%;
      padding: 0.5em 1em;
      transition: all 0.3s ease-in-out;
    }

    & a:hover {
      &.basicsLink {
        background-color: orange;
      }
      &.flexLink {
        background-color: lightblue;
      }
      &.gridLink {
        background-color: lightgreen;
      }
      &.selectorsLink {
        background-color: #db6c79;
      }
      color: black;
      box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes titleGradientSlide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}

main {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

footer {
  display: flex;
  height: 4rem;
  padding: 1rem;
  background-color: rgb(75, 75, 75);
  outline: 0px solid lightgray;
  transition: all 0.1s ease-in-out;

  & > span {
    width: 20vw;
    color: white;
    background: linear-gradient(
      90deg,
      white 0%,
      white 25%,
      rgb(75, 75, 75) 40%,
      rgb(75, 75, 75) 60%,
      white 75%,
      white 100%
    );
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0% 0%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: outline 0.3s ease-in-out;
  }

  &:hover {
    outline: 2px solid lightgray;
    & > span {
      animation: gradientSlide 5s linear infinite;
    }
  }
}

@keyframes gradientSlide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}
